:root {
    /* Color Palette */
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightgrey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    /* Spacing */
    --mobile-size: 768px;
}

@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: var(--dark-charcoal);
    background-color: var(--eggshell);
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 768px) {
        font-size: 14px;
        margin: 0;
    }
}

.recipe {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--white);
    border-radius: 1rem;
    max-width: 44rem;

    @media (max-width: 768px) {
        margin: 0;
        border-radius: 0;
    }
}

.recipe-content {
    padding-left: 2rem;

    @media (max-width: 768px) {
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }
}

.recipe-card {
    text-align: center;
    margin: 0;
    padding-top: 2.1rem;

    @media (max-width: 768px) {
        padding: 0;
        margin: 0;
    }
}

.card-picture {
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    @media (max-width: 768px) {
        width: 100%;
        border-radius: 0;
    }
}

.recipe-preparation-time {
    background-color: var(--rose-white);
    margin-top: 0;
    border-radius: 8px;
}

.recipe-preparation-time ul li::marker {
    color: var(--dark-raspberry);
}

ul {
    margin: 0;
    padding-bottom: 1rem;
}

ul li {
    padding-bottom: .7rem;
    position: relative;
}

ul li::marker {
    color: var(--nutmeg);
}

ol li {
    padding-left: 1rem;

    @media (max-width: 768px) {
        padding-left: 0;
    }
}

ol li::marker {
    color: var(--nutmeg);
    font-weight: bold;
}

.recipe-preparation-time h3 {
    display: inline-block;
    color: var(--dark-raspberry);
    padding: 0.8rem 1rem;
    margin: 0;
}

h2 {
    color: var(--nutmeg);
}

hr.recipe-divider {
    border: none;
    border-top: 2px solid #ccc;
    padding-left: 1rem;
    margin-right: 3rem;
}

hr.table-line {
    border: none;
    margin: 0 0 0 1.9rem;
    border-top: 2px solid #ccc;
    width: 94%;
}

.nutrition-table {
    width: 100%;
    margin-left: -2rem !important;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        margin-left: 0 !important;
    }
}

.nutrition-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.nutrition-title {
    flex-basis: 20rem;
    padding-left: 4rem;

    @media (max-width: 768px) {
        flex-basis: 8rem;
        padding-left: .8rem;
    }
}

.nutrition-amount {
    color: var(--nutmeg);
    font-weight: bold;
}

