:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightgrey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --card-margin: 1em;
}

@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@media (max-width: 375px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    body {
        font-size: 18px;
    }
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: var(--dark-charcoal);
    background-color: var(--eggshell);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-card {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--white);
    border-radius: 1rem;
    max-width: 44rem;
}

.card-content {
    padding-left: 2rem;
}

.omelette {
    text-align: center;
    padding-top: 2.1rem;
}

.card-picture {
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.preparation-card {
    background-color: var(--rose-white);
    margin-top: 0;
    border-radius: 8px;
}

.preparation-card ul li::marker {
    color: var(--dark-raspberry);
}

ul {
    margin: 0;
    padding-bottom: 1rem;
}

ul li {
    padding-bottom: .7rem;
    position: relative;
}

ul li::marker {
    color: var(--nutmeg);
}

ol li {
    padding-left: 1rem;
}

ol li::marker {
    color: var(--nutmeg);
    font-weight: bold;
}

.preparation-card h3 {
    display: inline-block;
    color: var(--dark-raspberry);
    padding: 0.8rem 1rem;
    margin: 0;
}

h2 {
    color: var(--nutmeg);
}

hr.solid {
    border: none;
    border-top: 2px solid #ccc; /* Customize the color and thickness as needed */
    padding-left: 1rem;
    margin-right: 3rem;
}

.nutrition-table {
    width: 100%;
    margin-left: -2rem !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nutrition-item {
    display: flex; /* Makes child elements flex items */
    justify-content: space-between; /* Separates the label and the amount */
    width: 50%; /* Adjusts the width of each item to not span the full container width */
    margin-bottom: 10px; /* Adds some space between items */
}

.nutrition-item p:first-child {
    margin: 0; /* Removes default paragraph margin */
    flex: 0 1 auto;
}

.nutrition-item p:last-child {
    flex: 1 1 auto; /* Grow to fill remaining space, allow shrink, and base width on content */
    text-align: right; /* Aligns the amount to the right */
}